/* Stile di base per l'immagine del banner desktop */
.banner_img {
    width: 100%;
    height: 200px; /* Altezza fissa per mostrare solo una porzione dell'immagine */
    object-fit: cover; /* Ritaglia l'immagine per coprire l'area del contenitore */
    object-position: center; /* Posiziona l'immagine al centro del contenitore */
    overflow: hidden; /* Nasconde le parti dell'immagine che escono dal contenitore */
  }
  
  /* Nascondi l'immagine del banner mobile di default */
  .banner_img_mobile {
    display: none;
    width: 100%; /* Assicurati che l'immagine mobile si adatti al contenitore */
    height: 200px; /* Altezza fissa per mostrare solo una porzione dell'immagine */
    object-fit: cover; /* Ritaglia l'immagine per coprire l'area del contenitore */
    object-position: center; /* Posiziona l'immagine al centro del contenitore */
    overflow: hidden; /* Nasconde le parti dell'immagine che escono dal contenitore */
  }
  
  /* Media query per schermi piccoli */
  @media screen and (max-width: 35em) {
    .banner_img_mobile {
      display: block;
    }
  
    .banner_img {
      display: none;
    }
  }
  